.app-header {
  padding: 1em;
  background: rgba(25, 118, 210, 0.9);
  backdrop-filter: blur(3px);
  color: white; 
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.app-header .right-component {
  flex-grow: 1
}

.app-header .click-button {
  color: white;
  border-color: white;
}