.sidebar {
  height: 100%; 
  width: 16em;
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 4.3em;
  left: 0;
  padding: 1em;
  z-index: 1;
  border-right-color: rgba(230, 230, 230);
  border-right-width: thin;
  border-right-style: solid;
}

.sidebar .sidebar-button {
  border-radius: 10px !important;
}